<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html><head></head><body>



	


<h1>Requirements Specificatie</h1>
<h2>Groep Info</h2>
Groep # 
<ul>
	<li>Daan Bos (4477073)</li>
	<li>Bas Recter (4600711)</li>
	<li>Koen Vierling (4532635)</li>
	<li>Sezgin Yildiz (4603621)</li>
</ul>

<h2>Elicitatieproces</h2>
<p>Hierom zal het elicitatieproces beknopt worden beschreven. Deze beschrijving zal bestaan uit een kort verslag van de gesprekken en waarin ook de gebruikte technieken zullen worden beschreven. 

op 11 september 2018 om 13:30 hadden wij een eerste afspraak met groep 11. Ze waren nogal verrast door een aantal vragen en konden hier niet direct antwoord op geven, desalniettemin is besloten het interview voort te zetten op een sturende manier. Mede door deze omstandigheden is gekozen voor een groep interview. Hier zijn vragen gesteld over een aantal belangrijke onderwerpen en hier kon dan als groep ook d.m.v. discussie antwoord op worden gegeven. Omdat de groep redelijk onvoorbereid was was dit nuttig omdat zij op de manier gezamenlijk een de requirements konden bedenken. Het nadeel hiervan is dat er nog een paar over en weer zal moeten worden gemaild totdat alle requirements duidelijk en beknopt op papier staan. Zo nodig kan er nog een extra afspraak met deze groep worden ingepland.  </p>

<p></p>

<h2>Inleiding</h2>
<p>Dit systeem is een initiatief van een groep studenten van een groep studenten van de TU Delft. Het systeem is ervoor bedoeld om meerdere mensen met elkaar te laten carpoolen onder de studenten van de TU Delft. Het is dus simpelgezegd een carpoolplatform. Carpoolen heeft uiteraard veel voordelen. Het is ten eerste een milieubewuste manier van het transport van studenten naar de universiteit. Hierdoor zal ook het aantal vervoersmiddelen op de autosnelwegen afnemen, en dus hierop ook een positieve invloed hebben. Verder is het natuurlijk ook zeer kostenefficiënt. De doelen zijn om mensen een geplande rit te laten plaatsnemen, en zo al ver van tevoren hun voorkeuren rit kunnen vooruit plannen. Waardoor het carpoolen met vreemden zo prettig mogelijk verloopt. Zo is het bijvoorbeeld mogelijk om een plek voorin te reserveren als iemand snel last heeft van wagenziekte, en is er ook een mogelijkheid om een luxe auto te kiezen boven een minder luxe.  </p>

	


<h2>Project Issues</h2>
<p>Het budget voor dit platform bedraagt 20000 euro, dit gaat volledig over het creëren van het platform over het onderhoud worden nader afspraken gemaakt. Daarnaast moeten er via advertenties geld worden  verdiend om de toekomstige kosten te dekken. Het platform moet augustus 2019 in de lucht zijn. De resources die wij tot onze beschikking hebben is als belangrijkste groep 11. Verder is er binnen onze groep, groep 12, veel ervaring betreft programmeren. Een andere belangrijke resource van ons is de curus I&C Systeemanalyse, hier wordt veel kennis opgedaan over requirements engineering. En hier kunnen ook altijd vragen worden gesteld.</p>

	

<h2>Randvoorwaarden</h2>
<p> De randvoorwaarden waaraan dit systeem moet voldoen, is ten eerste dat 
	
Doelstelling:
De doelstelling van dit project is een gebruiksvriendelijk carpoolplatform creëren die dagelijks kan worden gebruikt om samen te carpoolen van en naar de universiteit. Dit heeft veel voordelen op het gebied van filevorming, milieu en kosteneffici?ntie. 

De beoogde gebruikers die dit systeem gaan gebruiken zijn de studenten en medewerkers van de TU Delft.
De beoogde effecten van het systeem zijn dat er meerdere studenten gaan gebruik maken van het platform en zowel chauffeurs als studenten die willen meerijden.
Daarnaast zullen er minder auto's op de weg aanwezig zijn. Daarnaast is het voordelig voor het milieu. Er is daardoor een hogere kostenefficiëntie. 
Andere belanghebbende zijn de adverteerders die advertenties plaatsen op het platform. Zij willen dat het platform zo groot mogelijk wordt, omdat er dan zoveel mogelijk mensen bereikt worden.
De chauffeurs hebben het belang om hun rit met zoveel mogelijk mensen te delen, om zo het meest uit de rit te halen. Daarnaast zijn de passagiers erbij gebaat om zo snel mogelijk van punt a naar b te komen. 
Maar rijkswaterstaat en de overheid kunnen er belangen bij hebben om carpool platformen te ondersteunen. Om zo het fileprobleem deels op te lossen en duurzaamheid te stimuleren.

</p>


<h2>Nonfunctionele Requirements</h2>
<table> 
	<tbody><tr>
		<td><strong>Requirement #:</strong></td><td> 1 </td> 
		<td><strong>Requirement type: </strong></td><td> NF </td> 
		<td><strong>Event/Use Case #:</strong></td><td> 1</td> 
	</tr>
	<tr>
		<td><strong>Description:</strong></td>
		<td colspan="5">De service is te bereiken door middel van een website en een app. Er is dus sprake van een platform</td>
	</tr>
	<tr>
		<td><strong>Rationale:</strong></td>
		<td colspan="5"> Makkelijk bereiken van de service </td>
	</tr>
	<tr>
		<td><strong>Originator:</strong></td>
		<td colspan="5"> Klanten</td>
	</tr>
	<tr>
		<td><strong>Fit Criterion:</strong></td>
		<td colspan="5">Bereikbare app en website, ongeacht het device van de gebruiker.</td>
	</tr>
	<tr>
		<td><strong>Customer Satisfaction: </strong></td><td colspan="2"> 3 </td> 
		<td><strong>Customer Dissatisfaction: </strong></td><td colspan="2">5</td> 
	</tr>
	<tr>
		<td><strong>Priority: </strong></td><td colspan="2"> 1 </td>  
		<td><strong>Conflicts: </strong></td><td colspan="2">...</td> 
	</tr>
	
	
	<tr>
		<td><strong>Supporting Materials: </strong></td>
		<td colspan="5">...</td>  
	</tr>
	<tr>
		<td><strong>History :</strong></td>
		<td colspan="5">...</td>  
	</tr>
</tbody></table>

<br>	


<table> 
	<tbody><tr>
		<td><strong>Requirement #: </strong></td><td> 2 </td> 
		<td><strong>Requirement type: </strong></td><td> NF </td> 
		<td><strong>Event/Use Case # : </strong></td><td>  2 </td> 
	</tr>
	<tr>
		<td><strong>Description: </strong></td>
		<td colspan="5"> Gegevens van gebruikers wordt vertrouwelijk behandeld, gegevens zullen niet aan derden worden verkocht. Toegang tot deze gegevens wordt alleen onder toezicht verstrekt. </td>
	</tr>
	<tr>
		<td><strong>Rationale:</strong></td>
		<td colspan="5"> Privacy wetgeving </td>
	</tr>
	<tr>
		<td><strong>Originator:</strong></td>
		<td colspan="5">Juristen en gebruikers</td>
	</tr>
	<tr>
		<td><strong>Fit Criterion: </strong></td>
		<td colspan="5"> Voldoen aan lokale wetgeving </td>
	</tr>
	<tr>
		<td><strong>Customer Satisfaction: </strong></td><td colspan="2"> 1 </td> 
		<td><strong>Customer Dissatisfaction: </strong></td><td colspan="2"> 5 </td> 
	</tr>
	<tr>
		<td><strong>Priority: </strong></td><td colspan="2"> 1 </td>  
		<td><strong>Conflicts: </strong></td><td colspan="2">...</td> 
	</tr>
	
	
	<tr>
		<td><strong>Supporting Materials:</strong></td>
		<td colspan="5">  Privacy wetgeving </td>  
	</tr>
	<tr>
		<td><strong>History:  </strong></td>
		<td colspan="5">...</td>  
	</tr>
</tbody></table>

<br>	

<h2>Funtionele Requirements</h2>
<table> 
	<tbody><tr>
		<td><strong>Requirement #: </strong></td><td> 3 </td> 
		<td><strong>Requirement type: </strong></td><td> F </td> 
		<td><strong>Event/Use Case #: </strong></td><td> 3 </td> 
	</tr>
	<tr>
		<td><strong>Description: </strong></td>
		<td colspan="5"> Chat service in app tussen gebruikers. Hier worden zowel de chauffeurs als de meerijders onder verstaan. Deze kunnen met elkaar communiceren via de app, en elkaar ook zonodig blokkeren, mocht er ongewenst contact zijn. accepteren of negeren van de reis </td>
	</tr>
	<tr>
		<td><strong>Rationale:</strong></td>
		<td colspan="5">Via chat kunnen afspraken tussen de gebruikers worden gemaakt</td>
	</tr>
	<tr>
		<td><strong>Originator:</strong></td>
		<td colspan="5">Gebruiker</td>
	</tr>
	<tr>
		<td><strong>Fit Criterion:</strong></td>
		<td colspan="5"> Chat service tussen gebruikers aanwezig en makkelijk in gebruik </td>
	</tr>
	<tr>
		<td><strong>Customer Satisfaction: </strong></td><td colspan="2">1 </td> 
		<td><strong>Customer Dissatisfaction: </strong></td><td colspan="2"> 4 </td> 
	</tr>
	<tr>
		<td><strong>Priority: </strong></td><td colspan="2">2</td>  
		<td><strong>Conflicts: </strong></td><td colspan="2">...</td> 
	</tr>
	
	
	<tr>
		<td><strong>Supporting Materials: </strong></td>
		<td colspan="5">...</td>  
	</tr>
	<tr>
		<td><strong>History:</strong></td>
		<td colspan="5">...</td>  
	</tr>
</tbody></table>



<br>

<table> 
	<tbody><tr>
		<td><strong>Requirement #:</strong></td><td> 4 </td> 
		<td><strong>Requirement type:</strong></td><td> F </td> 
		<td><strong>Event/Use Case #:</strong></td><td> 4 </td> 
	</tr>
	<tr>
		<td><strong>Description:</strong></td>
		<td colspan="5"> De aanbieder van de auto moet kunnen aangeven hoe groot de tolerantie is voor omrijden (hoeveel minuten extra is nog haalbaar) door middel van een slider</td>
	</tr>
	<tr>
		<td><strong>Rationale:</strong></td>
		<td colspan="5"> Verschillende gebruikers hebben verschillende wensen/ tolerantie voor omrijden voor mede gebruikers</td>
	</tr>
	<tr>
		<td><strong>Originator:</strong></td>
		<td colspan="5"> Cliënt</td>
	</tr>
	<tr>
		<td><strong>Fit Criterion:</strong></td>
		<td colspan="5"> Functionele slider voor gebruikers </td>
	</tr>
	<tr>
		<td><strong>Customer Satisfaction:</strong></td><td colspan="2"> 3</td> 
		<td><strong>Customer Dissatisfaction:</strong></td><td colspan="2">3 .</td> 
	</tr>
	<tr>
		<td><strong>Priority:</strong></td><td colspan="2"> 2 </td>  
		<td><strong>Conflicts:</strong></td><td colspan="2">...</td> 
	</tr>
	
	
	<tr>
		<td><strong>Supporting Materials:</strong></td>
		<td colspan="5">...</td>  
	</tr>
	<tr>
		<td><strong>History:</strong></td>
		<td colspan="5">...</td>  
	</tr>
</tbody></table>


<br>
<table> 
	<tbody><tr>
		<td><strong>Requirement #:</strong></td><td> 5 </td> 
		<td><strong>Requirement type:</strong></td><td> F </td> 
		<td><strong>Event/Use Case #:</strong></td><td> 5 </td> 
	</tr>
	<tr>
		<td><strong>Description:</strong></td>
		<td colspan="5"> Check of rijbewijs minimaal één jaar geleden behaald is </td>
	</tr>
	<tr>
		<td><strong>Rationale:</strong></td>
		<td colspan="5"> Bestuurders moeten voldoende ervaring hebben om te kunnen rijden</td>
	</tr>
	<tr>
		<td><strong>Originator:</strong></td>
		<td colspan="5"> Cliënt</td>
	</tr>
	<tr>
		<td><strong>Fit Criterion:</strong></td>
		<td colspan="5"> Systeem kan achterhalen of een rijbewijs minimaal één jaar geleden behaald is </td>
	</tr>
	<tr>
		<td><strong>Customer Satisfaction:</strong></td><td colspan="2"> 3</td> 
		<td><strong>Customer Dissatisfaction:</strong></td><td colspan="2">4</td> 
	</tr>
	<tr>
		<td><strong>Priority:</strong></td><td colspan="2">1 </td>  
		<td><strong>Conflicts:</strong></td><td colspan="2"></td> 
	</tr>
	
	
	<tr>
		<td><strong>Supporting Materials:</strong></td>
		<td colspan="5">...</td>  
	</tr>
	<tr>
		<td><strong>History:</strong></td>
		<td colspan="5">...</td>  
	</tr>
</tbody></table>

<br>

<table> 
	<tbody><tr>
		<td><strong>Requirement #: </strong></td><td> 6 </td> 
		<td><strong>Requirement type: </strong></td><td> F </td> 
		<td><strong>Event/Use Case #: </strong></td><td> 6 </td> 
	</tr>
	<tr>
		<td><strong>Description: </strong></td>
		<td colspan="5"> Nadat de gebruiker 5 slechte ratings/ waarschuwingen heeft gekregen, niet meer mag deelnemen. Dit kan zowel gelden voor de chauffeur, dus voor slecht rijgeedrag etc., als voor de meerijder, voor slecht gedragt etc. </td>
	</tr>
	<tr>
		<td><strong>Rationale:</strong></td>
		<td colspan="5">Gebruikers die zich misdragen kunnen hierdoor eruit gefilterd worden. </td>
	</tr>
	<tr>
		<td><strong>Originator:</strong></td>
		<td colspan="5"> Het platform controleert of dit gebeurd is en wat de aanklachten of  beargumentatie waarom deze gebruiker niet deugde, dus de gebruiker, zowel chauffeur als meerijder en de platformeigenaren.</td>
	</tr>
	<tr>
		<td><strong>Fit Criterion:</strong></td>
		<td colspan="5"> Bij meer dan 5 slechte ratings wordt de desbetreffende gebruiker geband </td>
	</tr>
	<tr>
		<td><strong>Customer Satisfaction: </strong></td><td colspan="2"> 2 </td> 
		<td><strong>Customer Dissatisfaction: </strong></td><td colspan="2"> 2 </td> 
	</tr>
	<tr>
		<td><strong>Priority: </strong></td><td colspan="2">4</td>  
		<td><strong>Conflicts: </strong></td><td colspan="2">  </td> 
	</tr>
	
	
	<tr>
		<td><strong>Supporting Materials: </strong></td>
		<td colspan="5"> Register of ratingsystem</td>  
	</tr>
	<tr>
		<td><strong>History:</strong></td>
		<td colspan="5">...</td>  
	</tr>
</tbody></table>

<br>


<table> 
	<tbody><tr>  
		<td><strong>Requirement #:</strong></td><td> 7 </td> 
		<td><strong>Requirement type:</strong></td><td> F </td> 
		<td><strong>Event/Use Case #:</strong></td><td> 7</td> 
	</tr>
	<tr>
		<td><strong>Description:</strong></td>
		<td colspan="5"> Gebruikers kunnen preferenties aangeven bij zoekopdracht</td>
	</tr>
	<tr>
		<td><strong>Rationale:</strong></td>
		<td colspan="5"> Gebruikers hebben verschillende wensen, roken of voorste stoel etc.</td>
	</tr>
	<tr>
		<td><strong>Originator:</strong></td>
		<td colspan="5">Gebruikers</td>
	</tr>
	<tr>
		<td><strong>Fit Criterion:</strong></td>
		<td colspan="5">De gebruikers moeten preferenties kunnen aangeven; roken ja/nee, stoelvoorkeur, hoeveelheid andere meereizigers, routes, type auto </td>
	</tr>
	<tr>
		<td><strong>Customer Satisfaction:</strong></td><td colspan="2"> 4 </td> 
		<td><strong>Customer Dissatisfaction:</strong></td><td colspan="2">2 </td> 
	</tr>
	<tr>
		<td><strong>Priority:</strong></td><td colspan="2"> 2 </td>  
		<td><strong>Conflicts:</strong></td><td colspan="2">...</td> 
	</tr>
	
	
	<tr>
		<td><strong>Supporting Materials:</strong></td>
		<td colspan="5">...</td>  
	</tr>
	<tr>
		<td><strong>History:</strong></td>
		<td colspan="5">...</td>  
	</tr>
</tbody></table>

<br>

<table> 
	<tbody><tr>
		<td><strong>Requirement #:</strong></td><td> 8 </td> 
		<td><strong>Requirement type:</strong></td><td> F </td> 
		<td><strong>Event/Use Case #:</strong></td><td> 8 </td> 
	</tr>
	<tr>
		<td><strong>Description:</strong></td>
		<td colspan="5">Er moet een betaalsysteem in waarmee de meerijder een commissie kan betalen om mee te rijden. Aan de hand van een algoritme kan berekend worden voor de meerijders hoeveel commissie zij zouden moeten betalen voor een rit. Hierbij wordt rekening gehouden met de benzinekosten, type auto, afstand en zitplaats. </td>
	</tr>
	<tr>
		<td><strong>Rationale:</strong></td>
		<td colspan="5">Door de kosten van de carpoolritten te delen met de passagiers, is het voor studenten en medewerkers van de universiteit met een auto aantrekkelijk om deel te nemen aan het platform als chauffeur.</td>
	</tr>
	<tr>
		<td><strong>Originator:</strong></td>
		<td colspan="5">De eigenaren van het carpoolbedrijf.</td>
	</tr>
	<tr>
		<td><strong>Fit Criterion:</strong></td>
		<td colspan="5">Wanneer de meerijders, voordat ze kunnen deelnemen aan een rit ,commissie kunnen betalen via het betaalsysteem is voldoen aan de criteria.</td>
	</tr>
	<tr>
		<td><strong>Customer Satisfaction:</strong></td><td colspan="2"> 1</td> 
		<td><strong>Customer Dissatisfaction:</strong></td><td colspan="2">1 .</td> 
	</tr>
	<tr>
		<td><strong>Priority:</strong></td><td colspan="2"> 1 </td>  
		<td><strong>Conflicts:</strong></td><td colspan="2">...</td> 
	</tr>
	
	
	<tr>
		<td><strong>Supporting Materials:</strong></td>
		<td colspan="5">...</td>  
	</tr>
	<tr>
		<td><strong>History:</strong></td>
		<td colspan="5">...</td>  
	</tr>
</tbody></table>


<table> 
	<tbody><tr>
		<td><strong>Requirement #:</strong></td><td> 9 </td> 
		<td><strong>Requirement type:</strong></td><td> F </td> 
		<td><strong>Event/Use Case #:</strong></td><td> 9 </td> 
	</tr>
	<tr>
		<td><strong>Description:</strong></td>
		<td colspan="5"> Er moet een optie in de app zijn om de carpoolritten te beoordelen. Hierbij kan het rijgedrag van de chauffeurs worden beoordeeld aan de hand van vijf sterren . </td>
	</tr>
	<tr>
		<td><strong>Rationale:</strong></td>
		<td colspan="5">Een beoordelingssysteem zal de chauffeurs motiveren om te letten op het rijgedrag. </td>
	</tr>
	<tr>
		<td><strong>Originator:</strong></td>
		<td colspan="5"> De eigenaren van het carpoolbedrijf. </td>
	</tr>
	<tr>
		<td><strong>Fit Criterion:</strong></td>
		<td colspan="5"> Wanneer de meerijders na afloop van de ritten de ritten kunnen beoordelen aan de hand van een sterrensysteem is voldaan aan de criteria.</td>
	</tr>
	<tr>
		<td><strong>Customer Satisfaction:</strong></td><td colspan="2"> 3</td> 
		<td><strong>Customer Dissatisfaction:</strong></td><td colspan="2">1 .</td> 
	</tr>
	<tr>
		<td><strong>Priority:</strong></td><td colspan="2"> 2 </td>  
		<td><strong>Conflicts:</strong></td><td colspan="2">...</td> 
	</tr>
	
	
	<tr>
		<td><strong>Supporting Materials:</strong></td>
		<td colspan="5">...</td>  
	</tr>
	<tr>
		<td><strong>History:</strong></td>
		<td colspan="5">...</td>  
	</tr>
</tbody></table>


	







<script type="text/javascript" src="/d2l/common/math/MathML.js?v=10.8.4.12536-31 "></script><script type="text/javascript">document.addEventListener('DOMContentLoaded', function() { D2LMathML.DesktopInit('https://s.brightspace.com/lib/mathjax/2.6.1/MathJax.js?config=MML_HTMLorMML','https://s.brightspace.com/lib/mathjax/2.6.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'); });</script></body></html>
