body{
    margin: 0;
    padding: 0;
    background: url(tu_delft_campus.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
/* achtergrond toevoege */



/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav active {
    background-color: #2196F3;
    color: white;
}
/* Gevondenbox voor ritten */
.Rittenbox{
    width: 640px;
    height: 580px;
    background: #2196F3;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
/*Het kaartje stylen 1239 750 */
.Kaart{
    
    width: 380px ;
    height: 230px ;
    top: 80% ;
    left: 50% ;
    
}
    
.Rittenbox input[type="submit"]
{
    float: right;
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    background: #e9e9e9;
    color: black;
    font-size: 12px;
    border-radius: 18px;
}